@font-face {
  font-family: SF;
  src: url("../fonts/SFUI/SF-UI-Display-Regular.otf") format("opentype");
}
@font-face {
  font-family: SF;
  font-weight: bold;
  src: url("../fonts/SFUI/SF-UI-Display-Bold.otf") format("opentype");
}
/* html elements */
/* line 22, ../sass/styles.scss */
body {
  background: linear-gradient(90deg, #000 26px, transparent 1%) center, linear-gradient(#000 26px, transparent 1%) center, #222;
  background-size: 28px 28px;
  font-family: sans-serif;
  color: #fff;
  background-attachment: fixed;
  font-family: SF, Arial, sans-serif;
  margin: 0px;
}

/* line 33, ../sass/styles.scss */
ul {
  padding: 0;
}
/* line 35, ../sass/styles.scss */
ul li {
  padding: 0;
  list-style: none;
}

/*row system*/
/* line 41, ../sass/styles.scss */
.inside {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

/* line 46, ../sass/styles.scss */
.mobile {
  display: none;
}

/*molecules*/
/*main nav*/
/* line 51, ../sass/styles.scss */
#main-nav {
  position: fixed;
  height: auto;
  background: #000;
  overflow-y: hidden;
  max-height: 0px;
  /* approximate max height */
  transition-property: all;
  transition-duration: 0.2s;
  min-height: 0px;
  width: 100%;
  transition-timing-function: linear;
}
/* line 62, ../sass/styles.scss */
#main-nav .inside {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
/* line 71, ../sass/styles.scss */
#main-nav .inside .desktop-all {
  display: inline-block;
  width: 55%;
}
/* line 76, ../sass/styles.scss */
#main-nav .event.desktop {
  display: inline-block;
  margin-top: 10px;
}
/* line 80, ../sass/styles.scss */
#main-nav .stats {
  text-align: right;
}
/* line 82, ../sass/styles.scss */
#main-nav .stats ul {
  padding: 0;
  display: inline-block;
  padding-right: 20px;
}
/* line 86, ../sass/styles.scss */
#main-nav .stats ul li {
  padding: 0;
  display: inline-block;
  margin: 0 15px;
}
/* line 93, ../sass/styles.scss */
#main-nav .event,
#main-nav .stats {
  flex: 1;
}
@media screen and (max-width: 1440px) {
  /* line 93, ../sass/styles.scss */
  #main-nav .event,
  #main-nav .stats {
    flex: unset;
  }
}
/* line 100, ../sass/styles.scss */
#main-nav h1 {
  font-size: 0px;
  display: inline-block;
  float: right;
}
/* line 104, ../sass/styles.scss */
#main-nav h1 img {
  max-width: 141px;
}
/* line 108, ../sass/styles.scss */
#main-nav.sticky {
  position: fixed;
  min-height: 70px;
  max-height: 71px;
  width: 100%;
  z-index: 9000;
  padding-top: 30px;
}

/* end main nav */
/* main elements:
*  header
*  */
/* line 121, ../sass/styles.scss */
header {
  min-height: 645px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 127, ../sass/styles.scss */
header .wrapper {
  text-align: center;
}
/* line 129, ../sass/styles.scss */
header .wrapper p {
  text-transform: uppercase;
  margin: 5px;
}
/* line 134, ../sass/styles.scss */
header .wrapper .ctas {
  margin-top: 60px;
}
/* line 137, ../sass/styles.scss */
header .wrapper .ctas a {
  margin: 0px 5px;
  font-weight: bold;
}
/* line 142, ../sass/styles.scss */
header .hero-logo span {
  display: block;
  text-align: right;
  max-width: 430px;
  font-size: 43px;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 150, ../sass/styles.scss */
header h2 {
  font-size: 48px;
  max-width: 526px;
  margin: 50px auto 10px auto;
}

/* line 159, ../sass/styles.scss */
.main article.solid-bg {
  background: #000;
}
/* line 162, ../sass/styles.scss */
.main article h3 {
  font-size: 48px;
  text-align: center;
}
/* line 165, ../sass/styles.scss */
.main article h3:after {
  content: ' ';
  display: block;
  width: 100px;
  height: 4px;
  background: #4f52ff;
  margin: 0 auto;
}
/* line 174, ../sass/styles.scss */
.main article .img-hackathon {
  width: 50%;
}
@media screen and (min-width: 768px) {
  /* line 174, ../sass/styles.scss */
  .main article .img-hackathon {
    margin-top: 85px;
  }
}
/* line 179, ../sass/styles.scss */
.main article .img-hackathon img {
  max-width: 500px;
}
@media screen and (max-width: 768px) {
  /* line 179, ../sass/styles.scss */
  .main article .img-hackathon img {
    max-width: 100%;
  }
}
/* line 186, ../sass/styles.scss */
.main article .txt-hackathon {
  font-size: 16px;
  padding: 15px;
  line-height: 30px;
  width: 50%;
}
/* line 191, ../sass/styles.scss */
.main article .txt-hackathon span {
  color: #ffdd62;
}
/* line 195, ../sass/styles.scss */
.main article .cta-section {
  clear: both;
  padding: 48px 24px;
}
/* line 198, ../sass/styles.scss */
.main article .cta-section h2 {
  color: #ffdd62;
  font-size: 30px;
  text-align: center;
}
/* line 203, ../sass/styles.scss */
.main article .cta-section .ctas {
  text-align: center;
}
/* line 205, ../sass/styles.scss */
.main article .cta-section .ctas .btn {
  font-weight: bold;
  margin-top: 24px;
}
/* line 212, ../sass/styles.scss */
.main .intro {
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
}
/* line 215, ../sass/styles.scss */
.main .intro .inside {
  max-width: 1000px;
}
/* line 217, ../sass/styles.scss */
.main .intro .inside .sub {
  padding: 0 24px;
  max-width: 500px;
  margin: auto;
  margin-bottom: 64px;
  padding-top: 64px;
}
/* line 223, ../sass/styles.scss */
.main .intro .inside .sub p {
  padding: 12px 10px;
  font-size: 16px;
  line-height: 32px;
  text-align: left;
}
/* line 228, ../sass/styles.scss */
.main .intro .inside .sub p span {
  color: #ffdd62;
  font-weight: bold;
}
/* line 235, ../sass/styles.scss */
.main .intro h2 {
  font-size: 28px;
  font-weight: bold;
  line-height: 48px;
  text-align: center;
  padding-top: 64px;
}
/* line 244, ../sass/styles.scss */
.main .speakers .inside {
  padding: 110px 10px;
  max-width: 872px;
  padding: 114px 10px;
  position: relative;
  z-index: 2;
}
/* line 251, ../sass/styles.scss */
.main .speakers .switch {
  display: block;
  margin: 0 auto;
}
/* line 256, ../sass/styles.scss */
.main .speakers .speaker {
  margin-top: 65px;
  position: relative;
}
/* line 259, ../sass/styles.scss */
.main .speakers .speaker img {
  display: inline-block;
  z-index: 10;
  border-radius: 50%;
  max-width: 80px;
  position: relative;
}
/* line 266, ../sass/styles.scss */
.main .speakers .speaker .speaker-info {
  display: inline-block;
  vertical-align: super;
}
/* line 270, ../sass/styles.scss */
.main .speakers .speaker p {
  margin: 0 25px;
  color: #ffdd62;
  position: relative;
  z-index: 10;
  min-width: 200px;
}
/* line 277, ../sass/styles.scss */
.main .speakers .speaker .name {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  margin: 0px 25px;
}
/* line 283, ../sass/styles.scss */
.main .speakers .speaker:nth-child(even) {
  direction: rtl;
  margin-right: 100px;
}
/* line 286, ../sass/styles.scss */
.main .speakers .speaker:nth-child(even) p {
  text-align: right;
}
/* line 289, ../sass/styles.scss */
.main .speakers .speaker:nth-child(even):before {
  right: -20%;
}
/* line 293, ../sass/styles.scss */
.main .speakers .speaker:nth-child(odd) {
  margin-left: 100px;
}
/* line 298, ../sass/styles.scss */
.main .speakers .speaker:before {
  background: linear-gradient(90deg, #000 26px, transparent 1%) center, linear-gradient(#000 26px, transparent 1%) center, #222;
  background-size: 28px 28px;
  display: block;
  width: 332px;
  height: 300px;
  top: -100%;
  left: -20%;
  position: absolute;
  content: ' ';
  z-index: -1;
}
/* line 311, ../sass/styles.scss */
.main .speakers .speaker:last-child {
  margin-bottom: 50px;
}
/* line 317, ../sass/styles.scss */
.main .sponsors .inside {
  padding: 100px 10px;
}
/* line 320, ../sass/styles.scss */
.main .sponsors .sponsors-wrapper {
  padding-bottom: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 897px;
  margin: 0 auto;
}
/* line 327, ../sass/styles.scss */
.main .sponsors .sponsors-wrapper img {
  margin: 20px 10px;
}
/* line 332, ../sass/styles.scss */
.main .venue {
  border-top: 1px solid #333333;
}
/* line 334, ../sass/styles.scss */
.main .venue h4 {
  font-size: 32px;
  margin: 0;
}
/* line 338, ../sass/styles.scss */
.main .venue p {
  font-size: 16px;
}
/* line 341, ../sass/styles.scss */
.main .venue .location-icon {
  display: inline-block;
  background-image: url("../img/icons.svg");
  background-size: 359%;
  background-position: 1px 0px;
  background-repeat: no-repeat;
  height: 19px;
  width: 20px;
  /* background-color: red; */
  vertical-align: bottom;
  margin-right: 5px;
}
/* line 353, ../sass/styles.scss */
.main .venue a {
  text-transform: uppercase;
  color: #ffdd62;
  font-size: 12px;
  margin-bottom: 100px;
}
/* line 359, ../sass/styles.scss */
.main .venue h4,
.main .venue p,
.main .venue a {
  width: 60%;
  float: right;
  clear: both;
}
/* line 366, ../sass/styles.scss */
.main .venue .left {
  margin: auto;
  vertical-align: top;
  margin-top: 80px;
}
/* line 370, ../sass/styles.scss */
.main .venue .left img {
  width: 100%;
}
/* line 374, ../sass/styles.scss */
.main .venue .right {
  vertical-align: middle;
  margin-top: 80px;
  margin: auto;
}
/* line 378, ../sass/styles.scss */
.main .venue .right img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  /* line 383, ../sass/styles.scss */
  .main .venue .left {
    max-width: 100%;
  }
  /* line 386, ../sass/styles.scss */
  .main .venue .right {
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) {
  /* line 391, ../sass/styles.scss */
  .main .venue .left {
    max-width: 50%;
    min-width: 50%;
    display: inline-block;
  }
  /* line 396, ../sass/styles.scss */
  .main .venue .right {
    max-width: 49%;
    display: inline-block;
  }
}
/* line 402, ../sass/styles.scss */
.main .hackathon {
  border-top: 1px solid #333333;
  padding-bottom: 40px;
}
/* line 404, ../sass/styles.scss */
.main .hackathon .inside {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
}
/* line 408, ../sass/styles.scss */
.main .hackathon .inside .row {
  min-width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  /* line 408, ../sass/styles.scss */
  .main .hackathon .inside .row {
    flex-direction: column;
    margin-bottom: 20px;
  }
  /* line 415, ../sass/styles.scss */
  .main .hackathon .inside .row .apply-cont {
    text-align: center;
  }
}
/* line 423, ../sass/styles.scss */
.main .journals-mailing {
  border-top: 1px solid #333333;
}
/* line 425, ../sass/styles.scss */
.main .journals-mailing p {
  font-size: 16px;
  line-height: 30px;
}
/* line 429, ../sass/styles.scss */
.main .journals-mailing .inside {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: top;
}
@media screen and (max-width: 768px) {
  /* line 429, ../sass/styles.scss */
  .main .journals-mailing .inside {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  /* line 439, ../sass/styles.scss */
  .main .journals-mailing .left {
    padding-left: 80px;
    padding-top: 24px;
    padding-right: 80px;
    vertical-align: top;
    width: 50%;
    max-width: 50%;
  }
}
/* line 448, ../sass/styles.scss */
.main .journals-mailing h4 {
  font-weight: 600;
  border: 0;
  font-size: 42px;
  text-align: left;
  overflow: wrap;
}
@media screen and (max-width: 768px) {
  /* line 455, ../sass/styles.scss */
  .main .journals-mailing .mailing-list {
    text-align: center;
  }
  /* line 458, ../sass/styles.scss */
  .main .journals-mailing .mailing-list h5 {
    text-align: center;
  }
  /* line 461, ../sass/styles.scss */
  .main .journals-mailing .mailing-list h4 {
    text-align: center;
  }
  /* line 464, ../sass/styles.scss */
  .main .journals-mailing .mailing-list .mc-field-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* line 469, ../sass/styles.scss */
  .main .journals-mailing .mailing-list #mce-EMAIL {
    width: 90%;
  }
}
/* line 473, ../sass/styles.scss */
.main .journals-mailing .mailing-list h5 {
  color: #ffdd62;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}
/* line 479, ../sass/styles.scss */
.main .journals-mailing .mailing-list .mc-field-group {
  display: flex;
}
/* line 482, ../sass/styles.scss */
.main .journals-mailing .mailing-list .email {
  background-color: black;
  height: 46px;
  top: 2px;
  border: 1px solid #333;
  border-radius: 10px;
  outline: none;
  color: white;
  padding-left: 10px;
  margin-right: 12px;
  margin-top: 20px;
  font-size: 16px;
  flex: 1 0 auto;
  min-width: 200px;
}
@media (min-width: 1100px) {
  /* line 482, ../sass/styles.scss */
  .main .journals-mailing .mailing-list .email {
    max-width: calc(100% - 300px);
  }
}
/* line 500, ../sass/styles.scss */
.main .journals-mailing .mailing-list .button {
  background-color: #4f52ff;
  border: 1px solid #4f52ff;
  font-size: 14px;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-top: 20px;
  width: 150px;
  height: 50px;
  flex: none;
}
/* line 515, ../sass/styles.scss */
.main .journals-mailing .mailing-list #mc_embed_signup div.mce_inline_error {
  background: none;
}
/* line 518, ../sass/styles.scss */
.main .journals-mailing .mailing-list #mce-success-response {
  text-align: center;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  /* line 523, ../sass/styles.scss */
  .main .journals-mailing .right {
    text-align: center;
    padding-bottom: 40px;
  }
  /* line 526, ../sass/styles.scss */
  .main .journals-mailing .right h4 {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  /* line 523, ../sass/styles.scss */
  .main .journals-mailing .right {
    padding-top: 24px;
    padding-right: 80px;
    padding-bottom: 80px;
    padding-left: 80px;
    width: 50%;
    max-width: 50%;
    vertical-align: middle;
  }
  /* line 539, ../sass/styles.scss */
  .main .journals-mailing .right h4 {
    text-align: left;
  }
}
/* line 543, ../sass/styles.scss */
.main .journals-mailing .right h5 {
  color: #ffdd62;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}
/* line 549, ../sass/styles.scss */
.main .journals-mailing .right p {
  width: 100%;
  font-size: 16px;
  line-height: 30px;
}
/* line 554, ../sass/styles.scss */
.main .journals-mailing .right p.journal-cta {
  margin-top: 40px;
  font-weight: 600;
}
@media (max-width: 768px) {
  /* line 554, ../sass/styles.scss */
  .main .journals-mailing .right p.journal-cta {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  /* line 563, ../sass/styles.scss */
  .main .journals-mailing .left {
    min-width: 100%;
  }
  /* line 566, ../sass/styles.scss */
  .main .journals-mailing .right {
    min-width: 100%;
  }
}
@media screen and (min-width: 768px) {
  /* line 571, ../sass/styles.scss */
  .main .journals-mailing .left {
    max-width: 50%;
  }
  /* line 574, ../sass/styles.scss */
  .main .journals-mailing .right {
    max-width: 50%;
    border-left: 1px dashed #333333;
    padding-left: 80px;
  }
}
/* line 581, ../sass/styles.scss */
.main .join {
  border-top: 1px solid #333333;
  text-align: center;
  padding: 120px 20px 150px;
}
/* line 585, ../sass/styles.scss */
.main .join h2 {
  font-size: 42px;
}
/* line 588, ../sass/styles.scss */
.main .join .ctas {
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  /* line 591, ../sass/styles.scss */
  .main .join .ctas .btn {
    margin-right: 24px;
  }
}
/* line 595, ../sass/styles.scss */
.main .join .ctas .btn {
  margin-top: 12px;
}
/* line 600, ../sass/styles.scss */
.main .cta {
  text-align: center;
  border-top: 1px solid #333333;
}
/* line 603, ../sass/styles.scss */
.main .cta .inside {
  vertical-align: text-bottom;
  padding: 200px 0px;
}
/* line 607, ../sass/styles.scss */
.main .cta h4 {
  font-size: 44px;
  display: inline-block;
  margin: 0;
}
/* line 612, ../sass/styles.scss */
.main .cta a {
  margin: 0px 5px;
}
/* line 615, ../sass/styles.scss */
.main .cta .ctas {
  margin-top: 40px;
}

/* main elements:
*  footer
*  */
/* line 623, ../sass/styles.scss */
footer {
  background: #000000;
  border-top: 1px solid #333333;
  text-align: center;
  padding: 30px 30px 12px 30px;
  font-size: 14px;
  position: relative;
}
/* line 630, ../sass/styles.scss */
footer img {
  max-width: 96px;
  filter: grayscale(1);
}
/* line 634, ../sass/styles.scss */
footer .footer-logo {
  float: left;
}
/* line 637, ../sass/styles.scss */
footer p {
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  top: -10px;
}
@media screen and (max-width: 992px) {
  /* line 637, ../sass/styles.scss */
  footer p {
    top: 0;
  }
}
/* line 647, ../sass/styles.scss */
footer .social-icons {
  float: right;
}
/* line 649, ../sass/styles.scss */
footer .social-icons .tw-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../img/social-icons.svg") repeat-x;
  margin-right: 10px;
}
/* line 656, ../sass/styles.scss */
footer .social-icons .fb-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../img/social-icons.svg") repeat-x;
  background-position: 19px 0px;
}

/* atoms */
/* line 666, ../sass/styles.scss */
.btn {
  background: #4f52ff;
  border-radius: 6.33px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  line-height: 24px;
  padding: 0px 20px;
  line-height: 48px;
  text-transform: uppercase;
  display: inline-block;
}
/* line 677, ../sass/styles.scss */
.btn.large {
  width: 240px;
}
/* line 680, ../sass/styles.scss */
.btn.light {
  background: #fff;
  color: #000;
  font-weight: bold;
}

/* line 686, ../sass/styles.scss */
.event-subtitle {
  font-weight: bold;
  line-height: 40px;
  font-size: 18px;
}

/* line 692, ../sass/styles.scss */
.event-details {
  font-size: 16px;
  text-transform: uppercase;
}
/* line 695, ../sass/styles.scss */
.event-details span {
  border-bottom: 3px solid #ffdd62;
  padding-left: 0px;
  padding-bottom: 1px;
}
/* line 700, ../sass/styles.scss */
.event-details .calendar-icon {
  display: inline-block;
  background-image: url("../img/icons.svg");
  background-size: 262%;
  background-position: -20px 0px;
  background-repeat: no-repeat;
  height: 19px;
  width: 30px;
  /* background-color: red; */
  vertical-align: bottom;
}

/* line 713, ../sass/styles.scss */
.event-venues {
  margin-top: 8px;
}

/* line 717, ../sass/styles.scss */
a {
  text-decoration: none;
  color: #fff;
}

/* parallax */
/* line 724, ../sass/styles.scss */
.parallax-wrapper {
  overflow: hidden;
}

/* line 734, ../sass/styles.scss */
.parallax-group {
  transition: transform 0.5s;
  position: relative;
}

/* line 749, ../sass/styles.scss */
.parallax-layer .wrapper {
  max-width: 1440px;
  margin: auto;
}

/* line 761, ../sass/styles.scss */
.parallax-layer.middle {
  pointer-events: none;
}

/* line 765, ../sass/styles.scss */
.parallax-layer.fore {
  pointer-events: none;
}

/* line 771, ../sass/styles.scss */
.first-pill .element {
  /* Rectangle Copy: */
  transform: rotate(-38deg);
  background-image: linear-gradient(-134deg, #3023ae 0%, #c86dd7 100%);
  border-radius: 100px;
  width: 24px;
  height: 103px;
  position: absolute;
  top: 530px;
  right: -25%;
}

/* line 784, ../sass/styles.scss */
.second-pill .element {
  transform: rotate(-38deg);
  background-image: linear-gradient(-180deg, #d09e6e 8%, #f9d76a 44%, #86b67a 84%);
  border-radius: 100px;
  width: 118px;
  height: 519px;
  top: 192px;
  left: 9%;
  position: absolute;
}

/* line 801, ../sass/styles.scss */
.third-pill .element {
  /* Rectangle: */
  transform: rotate(-38deg);
  background-image: linear-gradient(-180deg, #5e98be 0%, #a04774 100%);
  border-radius: 100px;
  width: 123px;
  height: 448px;
  position: absolute;
  top: 2050px;
  right: -35%;
}

/* line 813, ../sass/styles.scss */
.fourth-pill {
  /* Rectangle Copy: */
}
/* line 816, ../sass/styles.scss */
.fourth-pill .element {
  z-index: 9999;
  transform: rotate(-38deg);
  background-image: linear-gradient(-134deg, #3023ae 0%, #c86dd7 100%);
  border-radius: 100px;
  position: absolute;
  left: auto;
  right: -33%;
  width: 32px;
  height: 545px;
  top: 1310px;
}

/* line 830, ../sass/styles.scss */
.fifth-pill .element {
  z-index: 9999;
  transform: rotate(-38deg) scale(2);
  background-image: linear-gradient(-134deg, #3023ae 0%, #c86dd7 100%);
  border-radius: 100px;
  position: absolute;
  width: 21px;
  height: 89px;
  left: -15%;
  top: 900px;
}

/* line 843, ../sass/styles.scss */
.last-pill .element {
  z-index: 9999;
  transform: rotate(-38deg);
  background-image: linear-gradient(0deg, #7da1cf 2%, #dd539e 48%, #ec9a51 99%);
  border-radius: 100px;
  position: absolute;
  width: 121px;
  height: 444px;
  transform-origin: -318px 0px;
  left: 0%;
  bottom: -2950px;
}
@media screen and (min-width: 1300px) {
  /* line 843, ../sass/styles.scss */
  .last-pill .element {
    bottom: -2880px;
  }
}

/* line 865, ../sass/styles.scss */
.header {
  position: relative;
}

/* line 869, ../sass/styles.scss */
.switch {
  position: relative;
  display: inline-block;
  width: 140px;
  height: 23px;
  /*labels*/
}
/* line 874, ../sass/styles.scss */
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  border: 1px solid #333;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}
/* line 885, ../sass/styles.scss */
.switch .slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 67px;
  left: 2px;
  bottom: 3px;
  background-color: #4f52ff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 36px;
}
/* line 898, ../sass/styles.scss */
.switch input {
  display: none;
}
/* line 901, ../sass/styles.scss */
.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
/* line 904, ../sass/styles.scss */
.switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(68px);
}
/* line 910, ../sass/styles.scss */
.switch:before {
  content: attr(data-off);
  display: inline-block;
  height: 20px;
  position: absolute;
  left: 21px;
  top: 5px;
  font-size: 11px;
  z-index: 8;
  opacity: 0.6;
  font-weight: bold;
}
/* line 922, ../sass/styles.scss */
.switch:after {
  content: attr(data-on);
  display: inline-block;
  height: 20px;
  position: absolute;
  right: 21px;
  top: 5px;
  font-size: 11px;
  z-index: 8;
  opacity: 0.6;
  font-weight: bold;
}

/* line 936, ../sass/styles.scss */
.hide {
  display: none;
}

@media screen and (max-width: 768px) {
  /* line 942, ../sass/styles.scss */
  #main-nav .stats ul li {
    margin: 0 6px;
  }
}
@media screen and (max-width: 992px) {
  /* line 949, ../sass/styles.scss */
  .mobile {
    display: block;
  }

  /* line 952, ../sass/styles.scss */
  .desktop {
    display: none;
  }

  /* line 955, ../sass/styles.scss */
  #main-nav .inside {
    padding: 0px;
  }

  /* line 959, ../sass/styles.scss */
  #main-nav .btn {
    margin-top: 20px;
  }

  /* line 963, ../sass/styles.scss */
  #main-nav .inside .desktop-all {
    margin-bottom: 20px;
    width: 93%;
    padding: 0 15px;
  }

  /* nav */
  /* line 969, ../sass/styles.scss */
  i.hamburguer-icon {
    background-image: url(../img/icons.svg);
    background-size: 320%;
    background-position: 41px -3px;
    background-repeat: repeat-x;
    width: 39px;
    height: 35px;
    float: right;
    text-align: right;
    vertical-align: -webkit-baseline-middle;
    display: inline-block;
  }

  /* line 982, ../sass/styles.scss */
  nav#main-nav.sticky {
    max-height: 50px;
    min-height: 49px;
  }

  /* line 986, ../sass/styles.scss */
  #main-nav .inside {
    display: block;
  }

  /* line 990, ../sass/styles.scss */
  .event-details.desktop {
    display: none;
  }

  /* line 993, ../sass/styles.scss */
  #main-nav .inside .event-details {
    font-size: 15px;
  }

  /* line 996, ../sass/styles.scss */
  #main-nav .event.desktop.event-details {
    display: none;
  }

  /* line 1000, ../sass/styles.scss */
  #main-nav h1 {
    display: inline-block;
    max-width: 40%;
    max-width: 100px;
    vertical-align: middle;
    text-align: right;
    display: inline-block;
    float: none;
  }

  /* line 1010, ../sass/styles.scss */
  #main-nav.sticky.opened .stats {
    display: inline-block;
    width: 100%;
    background: #111;
    padding: 20px 0px;
  }

  /* line 1016, ../sass/styles.scss */
  #main-nav img {
    width: 100%;
  }

  /* line 1020, ../sass/styles.scss */
  .event-details .calendar-icon {
    height: 17px;
    width: 26px;
  }

  /* line 1025, ../sass/styles.scss */
  #main-nav.opened {
    min-height: 0px;
    max-height: 0px;
  }

  /* line 1029, ../sass/styles.scss */
  #main-nav.sticky.opened {
    min-height: auto;
    max-height: 402px;
    padding-bottom: 0px;
  }

  /* line 1035, ../sass/styles.scss */
  #main-nav.sticky.opened i.hamburguer-icon {
    background-image: url("../img/close.svg");
    width: 39px;
    height: 35px;
    background-size: 100%;
  }

  /* line 1042, ../sass/styles.scss */
  #main-nav .stats {
    display: block;
    text-align: center;
  }

  /* line 1046, ../sass/styles.scss */
  #main-nav .stats ul {
    display: block;
    font-size: 18px;
    padding-right: 0px;
  }

  /* line 1052, ../sass/styles.scss */
  #main-nav .stats ul li {
    display: block;
    line-height: 38px;
  }

  /* line 1057, ../sass/styles.scss */
  .main article .txt-hackathon {
    width: 90%;
    padding-right: 15px;
  }

  /* line 1061, ../sass/styles.scss */
  .main article .img-hackathon {
    text-align: center;
    width: 100%;
  }
}
/* line 1067, ../sass/styles.scss */
#sponsor-decentraland {
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 120px;
}

/* line 1073, ../sass/styles.scss */
#sponsor-kinetic {
  position: relative;
  top: 5px;
  width: auto;
  height: auto;
  max-width: 250px;
  max-height: 110px;
}

/* line 1081, ../sass/styles.scss */
#sponsor-coinbase {
  width: auto;
  height: auto;
  max-width: 220px;
  max-height: 80px;
}

/* line 1087, ../sass/styles.scss */
#sponsor-0x {
  width: auto;
  height: auto;
  max-width: 220px;
  max-height: 80px;
}

/* line 1093, ../sass/styles.scss */
#sponsor-ecomi {
  width: auto;
  height: auto;
  max-width: 140px;
  max-height: 70px;
}

@media screen and (max-width: 768px) {
  /* line 1101, ../sass/styles.scss */
  a.btn {
    padding: 0px 10px;
    /* float: left; */
  }

  /*hero*/
  /* line 1106, ../sass/styles.scss */
  #header .wrapper {
    padding: 0px 10px;
  }

  /* line 1109, ../sass/styles.scss */
  #header .btn {
    margin-bottom: 10px;
  }

  /* line 1112, ../sass/styles.scss */
  header h2 {
    font-size: 33px;
    margin-top: 30px;
  }

  /* line 1116, ../sass/styles.scss */
  .hero-logo {
    width: 80%;
    margin: 0 auto;
  }

  /* line 1121, ../sass/styles.scss */
  .hero-logo img {
    width: 200px;
  }

  /* line 1124, ../sass/styles.scss */
  header .hero-logo span {
    max-width: 200px;
    margin: 0 auto;
  }

  /* line 1128, ../sass/styles.scss */
  .main {
    /*speakers*/
    /* sponsors*/
    /* venue */
  }
  /* line 1129, ../sass/styles.scss */
  .main .cta a {
    margin-left: 0px;
    margin-top: 10px;
  }
  /* line 1133, ../sass/styles.scss */
  .main .intro p {
    font-size: 23px;
    line-height: 37px;
  }
  /* line 1139, ../sass/styles.scss */
  .main .speakers .inside {
    padding: 70px 10px;
  }
  /* line 1142, ../sass/styles.scss */
  .main .speakers h3 {
    position: relative;
    z-index: 2;
  }
  /* line 1146, ../sass/styles.scss */
  .main .speakers .speaker:nth-child(even) {
    direction: rtl;
    margin-right: 20px;
  }
  /* line 1150, ../sass/styles.scss */
  .main .speakers .speaker:nth-child(odd) {
    margin-left: 20px;
  }
  /* line 1153, ../sass/styles.scss */
  .main .speakers .speaker:before {
    height: 190px;
  }
  /* line 1156, ../sass/styles.scss */
  .main .speakers .speaker-info {
    max-width: 69%;
  }
  /* line 1162, ../sass/styles.scss */
  .main .sponsors .inside {
    padding: 40px 10px 70px;
  }
  /* line 1165, ../sass/styles.scss */
  .main .sponsors .sponsors-wrapper {
    justify-content: center;
    margin-bottom: 30px;
  }
  /* line 1168, ../sass/styles.scss */
  .main .sponsors .sponsors-wrapper img {
    width: 100%;
    max-width: 200px;
  }
  /* line 1176, ../sass/styles.scss */
  .main .venue .inside {
    padding: 20px 10px;
  }
  /* line 1179, ../sass/styles.scss */
  .main .venue h4,
  .main .venue p,
  .main .venue a {
    width: 100%;
  }
  /* line 1184, ../sass/styles.scss */
  .main .venue h3 {
    margin-bottom: 0px;
  }
  /* line 1187, ../sass/styles.scss */
  .main .venue a {
    margin-bottom: 0px;
  }
  /* line 1190, ../sass/styles.scss */
  .main .venue .right {
    width: 100%;
  }

  /*cta*/
  /* line 1198, ../sass/styles.scss */
  .cta h4 {
    font-size: 33px;
  }
  /* line 1201, ../sass/styles.scss */
  .cta .a {
    margin-left: auto;
    margin-top: 40px;
  }
  /* line 1205, ../sass/styles.scss */
  .cta .inside {
    padding: 100px 15px;
  }

  /* line 1209, ../sass/styles.scss */
  footer p {
    margin-top: 0px;
  }

  /* line 1212, ../sass/styles.scss */
  footer img {
    max-width: 68px;
  }
}
@media screen and (max-width: 1440px) {
  /* line 1218, ../sass/styles.scss */
  .second-pill .element {
    left: -7%;
  }

  /* line 1223, ../sass/styles.scss */
  .last-pill .element {
    left: -6%;
  }

  /* line 1228, ../sass/styles.scss */
  .venue .inside {
    padding: 0px;
  }
}
@media screen and (max-width: 992px) {
  /* line 1236, ../sass/styles.scss */
  .second-pill .element {
    left: -14%;
  }

  /* line 1242, ../sass/styles.scss */
  .third-pill .element {
    right: -19%;
  }

  /* line 1248, ../sass/styles.scss */
  .fourth-pill .element {
    right: -16%;
  }

  /* line 1253, ../sass/styles.scss */
  .fifth-pill .element {
    left: -5%;
  }

  /* line 1258, ../sass/styles.scss */
  .last-pill .element {
    left: -10%;
    width: 84px;
    height: 322px;
    bottom: -1380px;
  }
}
@media screen and (max-width: 768px) {
  /* line 1268, ../sass/styles.scss */
  .wrapper.parallaxed {
    display: none;
  }
  /* line 1270, ../sass/styles.scss */
  .wrapper.parallaxed .element {
    display: none;
  }

  /* line 1276, ../sass/styles.scss */
  .main .venue .inside {
    padding: 0px 0px;
  }
  /* line 1279, ../sass/styles.scss */
  .main .venue .right {
    max-width: 100%;
    width: 100%;
  }
  /* line 1283, ../sass/styles.scss */
  .main .venue .left {
    width: 100%;
  }
  /* line 1285, ../sass/styles.scss */
  .main .venue .left h4,
  .main .venue .left p,
  .main .venue .left a {
    padding-left: 15px;
    width: 80%;
  }
}
@media screen and (max-width: 768px) and (max-width: 768px) {
  /* line 1285, ../sass/styles.scss */
  .main .venue .left h4,
  .main .venue .left p,
  .main .venue .left a {
    margin-left: 15px;
    width: 95%;
  }
}

/* line 1300, ../sass/styles.scss */
.main .hackathon-apply-header {
  color: #ffdd62;
  font-size: 30px;
  font-weight: 600;
  margin: 35px;
}

/* line 1307, ../sass/styles.scss */
.main .hackathon-venue {
  border-top: none;
}
/* line 1309, ../sass/styles.scss */
.main .hackathon-venue h4,
.main .hackathon-venue p,
.main .hackathon-venue a {
  width: 100% !important;
  float: none !important;
  clear: none !important;
}
/* line 1317, ../sass/styles.scss */
.main .hackathon-venue .left {
  width: 50%;
  max-width: 50%;
}
/* line 1322, ../sass/styles.scss */
.main .hackathon-venue .right {
  width: 50%;
  max-width: 50%;
  padding: 80px;
  padding-top: 200px;
}

@media (max-width: 768px) {
  /* line 1332, ../sass/styles.scss */
  .main .hackathon-venue .left {
    width: 100% !important;
  }
  /* line 1335, ../sass/styles.scss */
  .main .hackathon-venue .right {
    max-width: 100%;
    padding-top: 80px;
    padding-left: 10px;
  }
}
